{% use "form_div_layout.html.twig" %}

{# Widgets #}

{% block image_collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set prototype_vars = {} %}
        {% if style is defined %}
            {% set prototype_vars = prototype_vars|merge({'style': style}) %}
        {% endif %}
        {% set prototype_html = '<div class="col-xs-1"></div><div class="col-xs-' ~ form.vars.image_col ~ '"></div><div class="col-xs-' ~ form.vars.sub_widget_col ~ '">' ~ form_widget(prototype, prototype_vars) ~ '</div>' %}
        {% if form.vars.allow_delete %}
            {% set prototype_html = prototype_html ~ '<div class="col-xs-' ~ form.vars.button_col ~ '"><a href="#" class="btn btn-danger btn-small" data-removefield="collection" data-field="__id__">' ~ form.vars.delete_button_text|trans({}, translation_domain) ~ '</a></div>' %}
        {% endif %}
        {% set prototype_html = '<div class="row">' ~ prototype_html ~ '</div>' %}

        {% set attr = attr|merge({'data-prototype': prototype_html }) %}
        {% set attr = attr|merge({'data-prototype-name': prototype_name }) %}
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        <ul class="bc-collection list-unstyled bc-sortable-collection">
            {% for field in form %}
                <li>
                    <div class="row">
                        <div class="col-xs-1 bc-sortable-controls">
                            <a href="#" class="bc-sortable-up">
                                <span class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                            <a href="#" class="bc-sortable-down">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </div>
                        <div class="col-xs-{{ form.vars.image_col }}">
                            {% if field.vars.image is defined and field.vars.image is not null and field.vars.image.path %}
                                <img src="{{ field.vars.image.path | imagine_filter('fullpipe_image_collection_thumbnail') }}" />
                            {% endif %}
                        </div>
                        <div class="col-xs-{{ form.vars.sub_widget_col }}">
                            {{ form_widget(field) }}
                            {{ form_errors(field) }}
                        </div>
                        {% if form.vars.allow_delete %}
                            <div class="col-xs-{{ form.vars.button_col }}">
                                <a href="#" class="btn btn-danger btn-small" data-removefield="collection" data-field="{{ field.vars.id }}">{{ form.vars.delete_button_text|trans({}, translation_domain) }}</a>
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if form.vars.allow_add %}
            <a href="#" class="btn btn-primary btn-small" data-addfield="collection" data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">{{ form.vars.add_button_text|trans({}, translation_domain) }}</a>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock image_collection_widget %}
